body{
  font-family: sans-serif;
}

.TopBar{
  width: 100%;
  background-color: #727477;
  padding: 24px 48px 12px;
  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
}

.TopBar > img {
  width: 100px;
}

.mainContainer {
  padding: 4% 12%;
  margin-top: 32px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
}

.productPreview{
  width: 50%;
  position: relative;
}

.featureData{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 48px;
  font-weight: 600;
}

.productPreview > img{
  width: 100%;
}

.productData{
  width: 50%;
}

.productTitle{
  font-size: 48px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
}

.productDes{
  font-size: 24px;
  color: rgba(red, green, blue, alpha);
  margin-top: 0;
  margin-bottom: 16px;
}

.sectionHeading{
  font-size: 28px;
  margin-bottom: 8px;
}

.productImg{
  width: 100%;
  max-width: 80px;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
}

.selectedProductImg{
  border: 2px solid teal;
}

.featureItem{
  min-width: 80px;
  background-color: gainsboro;
  border-radius: 8px;
  border: 0;
  text-align: center;
  margin-right: 12px;
  cursor: pointer;
  padding: 12px 24px;
  font-weight: 600;
  box-sizing: content-box;
}

.selectedFeatureItem{
  color: white;
  background-color: gray;
}

.primaryBtn{
  color: white;
  font-size: 20px;
  background-color: teal;
  border-radius: 8px;
  border: 0;
  padding: 12px 24px;
  margin-top: 36px;
}


